<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>100 Checkboxes - lua.lol</title>
  <meta property="og:title" content="100 Checkboxes - lua.lol">
  <meta property="og:description" content="A Page with 100 Checkboxes sounds cool right? well it is! come check it out it updates in real time!">
  <meta property="og:image" content="/images/logo.png">
  <meta property="og:url" content="https://checkboxes.lua.lol">

  <link rel="icon" type="image/x-icon" href="/icons/favicon.ico">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <div class="grid">
      <% for (let i = 0; i < 100; i++) { %>
        <input type="checkbox" class="checkbox" id="checkbox-<%= i %>" data-id="<%= i %>" <%= checkboxes[i] ? 'checked' : '' %>>
      <% } %>
    </div>

    <p class="total-checks">Total checks: <span class="total-checks-num"> <%= totalChecks %></span></p>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>
